<nav>
<img class="navlogo" alt="Plugin Haven Logo" src="http://i.imgur.com/eIInTOC.png">
<a class="navLink" href='/'>Home</a>
<a class="navLink" href='/plugins'>Plugins</a>
<a class="navLink" id="navLast" href='#'>About</a>
</nav>